/* roboto-regular - latin */
/* ma-shan-zheng-regular - latin_chinese-simplified */
@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  src: local(''),
	   url('assets/fonts/chinese/ma-shan-zheng-v10-latin_chinese-simplified-regular.woff2') format('woff2');
}

.poem-text {
	font-family: "Ma Shan Zheng";
	font-size: x-large;
	font-weight:500;
	line-height: normal;
}

article.poem {
	font-family: "Ma Shan Zheng";
	font-size: x-large;
	font-weight: 500;
	color: darkblue;
	line-height: normal;
}
